# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/out
/cmake-build-debug
*.exe
*.out
*.app
/tests
*.idb
*.pdb

# Misk
*.sdf
*.opensdf
*.suo
*.vsp*
*.ipch
*.tlog
.idea/

# Test result
*.test

# CMake
CMakeCache.txt
/.ninja_deps
/.ninja_log
/CMakeFiles/
*.cmake
build.ninja

#VS - exclude .vs folder but not task-configuring
/.vs
!/.vs/launch.vs.json
!/.vs/tasks.vs.json