# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/tests/Debug/tr.log
/tests/Debug/vc120.idb
/tests/Debug/vc120.pdb
/tests/x64/Debug/tr.tlog
/tests/x64/Debug

# Misk
*.sdf
*.opensdf
*.suo

# Test result
*.test